
so\:toolbar {	
  display:inline-block;
  cursor: default;      
}    
so\:toolbar SPAN {
	font: 8pt Tahoma; 
	width: 100%;
	background: #dbd8d1; 
  border: 1px solid #d4d0c8;      
}
so\:toolbar SPAN TABLE{
  layout: fixed;
}
so\:toolbar .button {
  border: 1px solid #dbd8d1;    
}
so\:toolbar SELECT {
	font: 8pt Tahoma; 
}
so\:toolbar .switch {
  border: 1px solid #dbd8d1;    
}
so\:toolbar SPAN TABLE TD IMG {
  margin: 1px;
	filter: dropShadow(OffX=2, OffY=2, Color='#d4d0c8', Positive='true');  
}
so\:toolbar SPAN TABLE TD {
	font: 8pt Tahoma; 
}
so\:toolbar SPAN TABLE TD .seperator {
  width: 1px;
	background: #a6a6a6;    
  height: 23;
  padding:0px;
}
so\:toolbar .handle TR TD {
  height:1px;
  width:3px;
  background:#a6a6a6;
}
